* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-darkblue: #183153;
  --color-darkgrey: #404041;
  --color-middlegrey: #949495;
  --color-2ndlightgrey: #e4e2e2;
  --color-lightgrey: #f9f9f9;
  --color-lightgrey-2: rgb(238, 238, 238);
  --color-white: white;
  --color-black: black;
  --color-anthracite: #42445a;
  --color-green: #89ffa6;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--color-lightgrey);
}

::-webkit-scrollbar-thumb {
  background: var(--color-2ndlightgrey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-2ndlightgrey);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

h1 {
  font-size: 7rem;
  color: var(--color-black);
  line-height: 90px;
}

.h1 {
  font-size: 3.5rem;
  line-height: 55px;
}

.h2 {
  font-size: 2.3rem;
}

h2,
h3 {
  font-size: 3rem;
  color: var(--color-black);
}

h4 {
  font-size: 1.8rem;
  color: var(--color-black);
  font-weight: 600;
}

p {
  line-height: 30px;
  font-size: 1.8rem;
  color: var(--color-black);
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-darkblue);
}

i {
  pointer-events: none;
}

a:hover {
  color: var(--color-black);
  transition: 500ms;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  font-size: 2rem;
  color: var(--color-black);
}

.primary-button {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  color: var(--color-black);
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 12px;
  border: 1.5px solid rgb(224, 223, 223);
}

.primary-button:hover {
  border: 1.5px solid var(--color-darkblue);
  color: var(--color-darkblue);
  transition: 500ms;
}

.secondary-button {
  @extend .primary-button;
  border: none;
  color: var(--color-white);
  background-color: var(--color-black);
}

.secondary-button:hover {
  border: none;
  color: var(--color-white);
  background: none;
  background-color: var(--color-darkgrey);
}

li {
  font-size: 1.8rem;
  list-style: none;
  color: var(--color-darkblue);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.content-section-divider {
  margin: 4rem 0;

  h1 {
    margin-bottom: 3rem;
  }

  p h2,
  h3 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1.5rem;
  }
}

input {
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 1rem 1rem;
}
